

<h1>Home#index</h1>


  <div class="mainpage">
    <% @plans.each do |plan| %>
      <% polygon = plan.polygons.find_by(polygontype: "planmap") %>
      <% vertices = polygon.vertices %>
        <% vertices.each do |vertex| %>

            <li class="vertex" data-planname="<%=plan.name %>" data-planid=<%=polygon.plan_id %> data-polygonid=<%= polygon.id %> data-lat=<%= vertex.lat %> data-lng=<%= vertex.lng %> ></li>
        <% end %>

    <% end %>
  </div>



    <div id="panel">
        <h2>Find a Location</h2>
        <form class="map_address">
        <input class="input-field" id="address" type="textbox" autofocus>
        <button type="button" class="btn" id="btn_address">Find</button>
        </form>
        <button type="button" class="btn" id="print_polygon">Print</button>
    </div>
<!--     <div id="map"></div> -->
    <div id="map-canvas"/>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>



