

  <% polygons = @plans.polygons %>
    <% polygons.each do |polygon| %>
      <% polygon.vertices.each do |vertex| %>
        <li class="vertex" data-planid=<%=@plans.id %> data-zoneid=<%= polygon.zone_id %> data-polygonid=<%= polygon.id %> data-lat=<%= vertex.lat %> data-lng=<%= vertex.lng %> ></li>
      <% end %>
    <% end %>



<div class="plan">
  <div class="row">
    <div class="heading clearfix">
      <h1 id="plan-name"><%= @plans.name %></h1>
      <div class="userplan"><a class="btn-glow">Add Comment</a></div>
      <div class="userplan"><a class="btn-glow">Create Custom Plan</a></div>

    </div>
  </div>
  <div class="span12 case-menu">
    <div class="btn-group" data-toggle="btns">
      <a class="btn btn-default active" href="#odp" data-toggle="tab">Outline Development Plan</a>
      <a class="btn btn-default" href="#background" data-toggle="tab">Background</a>
      <a class="btn btn-default" href="#comments" data-toggle="tab">Comments</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="odp">
        <%= render partial: 'plan/odp', locals: { plan: @plans } %>
    </div>
    <div class="tab-pane" id="background">
        <%= render partial: 'plan/background', locals: { plan: @plans } %>
    </div>
    <div class="tab-pane" id="comments">
        <%= render partial: 'plan/comments', locals: { plan: @plans } %>
    </div>


  </div>




</div>